
/* primary CTA button */
@mixin dots() {
	width:95.677656%;
	height:558px;
	position:absolute;
	top:14.732734%;
	left:2.2693997%;
	background:url(../assets/img/dots-2.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	z-index: 1;
}
